body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.42867;
}
p, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
}
ul {
	list-style: none;
}
img {
	vertical-align: middle;
}

/* header */
.header {
    padding: 10px;
    background: #444;
}
.header .logo img {
	width: 125px;
}
.header .header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header .nav a {
    color: #ccc;
    margin-left: 20px;
}
.header .nav a:hover {
	color: #fff;
}

/* footer */
.footer {
	padding: 25px 10px 35px;
	background: #fff;
}
.footer .meta {
	display: flex;
	flex-wrap: wrap;
}
.footer .meta>li {
	margin: 15px 30px 0 0;
}
.footer .meta img {
	width: 100px;
    user-select: none;
}
.footer .meta span {
	margin-right: 10px;
}
