body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.42867;
}
p, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
}
ul,li {
	list-style: none;
}
img {
	vertical-align: middle;
}
a {
    color: #08c;
    text-decoration: none;
}
a.dark, a.dark:active, a.dark:link, a.dark:visited {
    color: #666;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
input {
	border: 1px solid transparent;
}
button, input[type="submit"], input[type="reset"] {
    cursor: pointer;
    outline: none;
}
.pull-left {
	float: left;
}

/* header */
.header {
    padding: 10px;
    background: #444;
}
.header .logo img {
	width: 125px;
}
.header .header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header .nav a {
    color: #ccc;
    margin-left: 20px;
}
.header .nav a:hover {
	color: #fff;
	text-decoration: none;
}

/* main */
.main {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.main .content {
	float: left;
	width: calc(100% - 330px);
}
.main .sidebar {
	float: right;
	width: 300px;
}
.sidebar .personal-information {
    background: #fff;
    border-radius: 5px;
}
.sidebar .personal-information .top {
    padding: 10px;
    background: #f6f6f6;
}
.sidebar .personal-information .info {
    padding: 10px;
}
.sidebar .personal-information .info img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f7f7f7;
    object-fit: cover;
}

/* topic list */
.topics-wrap {
	position: relative;
	overflow: hidden;
    min-height: 1000px;
    background: #fff;
}
.topic-list {
	background: #fff;
}
.topic-list-item {
	position: relative;
	padding: 10px;
    border-top: 1px solid #f0f0f0;
    overflow: hidden;
}
.topic-list-item:first-child {
	border-top: none;
}
.topic-list-item .avatar {
	float: left;
}
.topic-list-item .avatar img{
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 3px;
}
.topic-list-item .topic {
	display: inline-block;
}
.topic-list-item .tag {
	float: left;
	margin-right: 5px;
    font-size: 12px;
    color: #999;
    background: #e5e5e5;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: 500;
}
.topic-list-item .tag.highlight {
	background: #80bd01;
	color: #fff;
}
.topic-list-item .title-box {
    padding-left: 45px;
}
.topic-list-item .title {
	display: inline-block;
	max-width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.topic-list-item .reply-view {
    position: absolute;
    bottom: 10px;
    left: 90px;
    font-size: 10px;
}
.topic-list-item .last-reply-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    font-size: 12px;
    text-align: right;
}

/* topic tab */
.topic-tab {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.topic-tab-item {
    margin: 0 10px;
    color: #80bd01;
}
.topic-tab-item.active {
    background-color: #80bd01;
    color: #fff;
    padding: 3px 4px;
    border-radius: 3px;
}
.topic-tab-item:hover {
	color: #005580;
	text-decoration: none;
}

/* mark box */
.mark-box {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 88;
    background: #fff;
}
.mark-box .mark-line {
	margin: 15px 0 0 15px;
    background: #f7f7f7;
    height: 35px;
    width: 40%;
}
.mark-box .mark-line:nth-child(2),
.mark-box .mark-line:nth-child(3) {
	width: 30%;
}
.ant-pagination {
	margin: 15px 0 20px 10px;
}

/* topic detail */
.topic-detail {
	background: #fff;
}
.topic-header {
	padding: 20px 10px;
}
.topic-header .topic-title {
	overflow: hidden;
}
.topic-header .topic-title .tag {
	float: left;
    margin-top: 3px;
    font-size: 12px;
    background: #80bd01;
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    white-space: nowrap;
}
.topic-header .topic-title h2 {
	float: left;
    width: calc(100% - 50px);
    margin: -4px 5px 0 10px;
    font-weight: bold;
    color: #000;
    font-size: 22px;
}
.topic-header .topic-bottom {
	margin-top: 6px;
}
.topic-header .topic-info {
	font-size: 12px;
}
.topic-header .collection {
	text-align: right;
}
.topic-header .collection button {
    position: relative;
    padding: 5px 10px;
    background: #80bd01;
    color: #fff;
    border: none;
    font-weight: 500;
    border-radius: 3px;
}
.topic-body {
	padding: 20px 10px;
	border-top: 1px solid #f0f0f0;
}

/* reply list */
.reply-list-item {
	padding: 10px;
	border-top: 1px solid #f0f0f0;
	background: #fff;
}
.author_content .user_avatar {
    display: inline-block;
    float: left;
}
.user_avatar img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.user_info {
    margin-left: 10px;
    display: inline-block;
}
.user_action {
    float: right;
    margin-left: 20px;
    font-size: 15px;
}
.reply_content {
    padding-left: 50px;
    color: #333;
}
.reply_time {
	margin-left: 6px;
    font-size: 11px;
}
.markdown-text>:last-child {
    margin-bottom: 1em;
}

/* user profile */
.user .box {
    margin-bottom: 15px;
    background: #fff;
    border-radius: 3px;
}
.user .box .box-title {
    padding: 10px;
    background: #f6f6f6;
}
.user .box .box-title a {
    color: #80bd01;
}
.user .box .box-title .slashes {
    color: #ccc;
}
.user .box .box-title span {
    color: #999;
}
.user .box .user-info .user img {
    width: 50px;
    height: 50px;
    background: #f6f6f6;
}
.user .box .user-info .user span {
    margin-left: 10px;
}
.user .box .user-info {
    padding: 15px 10px;
}
.user .box .user-info .user {
    margin-bottom: 10px;
}
.user .box .user-info .view-topics-collections {
    margin-top: 5px;
}
.user .box .user-info .create-at {
    margin-top: 10px;
    color: #666;
}

.collections .collections-title {
    padding: 10px;
    background: #f6f6f6;
}
.collections .collections-title a {
    color: #80bd01;
}
.collections .collections-title em {
    color: #ccc;
}
.collections .collections-title span {
    color: #999;
}
.login {
    width: 300px;
    margin: 80px auto 200px;
    padding: 70px 20px;
    background: #444;
    border-radius: 3px;
}
.login .input {
    height: 45px;
}
.login .input input {
    width: 100%;
    height: 100%;
    padding: 0 0 0 8px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
}
.login .get-access-token {
	margin-top: 10px;
}
.login .get-access-token a {
    color: #fff;
}
.login .submit {
    position: relative;
    margin-top: 15px;
    padding: 10px 0;
    background: #f9671e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* footer */
.footer {
	padding: 25px 10px 35px;
	background: #fff;
}
.footer .meta {
	display: flex;
	flex-wrap: wrap;
}
.footer .meta>li {
	margin: 15px 30px 0 0;
}
.footer .meta img {
	width: 100px;
    user-select: none;
}
.footer .meta span {
	margin-right: 10px;
}
